<%- include('../../prebody.ejs') %>

<div class="container">
    <h2>Editar Contacto</h2>
    <form action="<%= contacto.id  %>" method="POST">
        <%- include('../dentroform.ejs', {contacto: contacto}) %>

    </form>
</div>

<%- include('../../afterbody.ejs') %>